@CHARSET "ISO-8859-1";
#mainContent {
	height:500px;
	overflow-y:scroll;
}

#flip {
	height:200px;
}

#flipPic {
	background-color:#ABCDEF;
	border:none;
	border-radius:100px;
	color:#000;
	font-weight:bold;
	margin:4px;
	padding:10px;
	width:80px;
}

#flipPic:hover {
	background-color:#9ABCDE;
}

#flipPic:active {
	background-color:#89ABCD;
}

#listBox {
	height:222px;
	margin-bottom:10px;
}

.highlight {
	background-color:rgb(232,242,254);
}

p[id^="left"], p[id^="right"] {
	margin:0;
}

#leftBox, #rightBox {
	width:300px;
	min-height: 200px;
	border: #000 solid 1px;
	padding:10px;
}

#listButtons {
	text-align:center;
	width:40px;
	position:relative;
	top:-160px;
	left:340px;
}

#rightBox {
	position:relative;
	top:-322px;
	left:400px;
}

#listButtons button{
	width:35px;
	display:block;
	margin: 3px auto;
}

#react {
	margin-bottom:10px;
}